html {
    font-size: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
}

button:disabled {
    opacity: 0.5;
}

.help.is-danger {
    color: red;
}

.pagination {
    display: block;
    margin: 0 auto
}

.pagination li {
    float: left;
    margin: 0.3rem
}

.pagination li button {
    color: #fff;
    padding: 8px 16px;
    text-decoration: none;
    background-color: #3f51b5;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}